################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookstoreWebApp/.vs/BookstoreWebApp
/BookstoreWebApp/BookstoreWebApp/bin/Debug/netcoreapp3.1
/BookstoreWebApp/BookstoreWebApp/obj
